name: Lint and test on push

on:

push:

branches:

- main

jobs:

lint-and-test:

    runs-on: ubuntu-latest

    name: run lint and Jest

    steps:

    - uses: actions/checkout@v3

    - uses: bahmutov/npm-install@v1

    - run: npm run lint

    - run: npm run test